{{#if loggedIn}}
<div id="recent-posts" class="mui--text-dark-secondary mui--text-body2">RECENT POSTS</div>
<div class="mui-divider"></div>
<br>
{{else}}
<div id="pinned-posts" class="mui--text-dark-secondary mui--text-body2">PINNED POST</div>
<div class="mui-divider"></div>
<br>
{{/if}}
<div id="blog-post">
  <div id="blog-title"
       class="mui--text-headline"><a href="/blog/{{id}}">{{postTitle}}</a></div>
  <div class="mui--text-dark-secondary">By <a href="/blog/users/{{userId}}">{{user_name}}</a></div>
  <div>
    {{postText}}
    <a href="/blog/{{id}}">Read more...</a>
  </div>
</div>