<div id="blog-post">
  <div id="blog-title"
       class="mui--text-headline"><a href="/blog/{{id}}">{{postTitle}}</a></div>
  <div id="title-user"
       class="mui--text-dark-secondary">
    By {{user_name}} on {{format_date createdAt}}
  </div>
  <div>
    {{#if postText}}
    {{shortPost postText}}
    <a href="/blog/{{id}}">Read more...</a>
    {{else}}
    <p>No post content available</p>
    {{/if}}
  </div>
</div>