<div id="blog-post">
  <div id="blog-title"
       class="mui--text-headline"><a href="/api/blog/{{id}}">{{postTitle}}</a></div>
  <div id="title-user"
       class="mui--text-dark-secondary">
    By <a href="/api/blog/users/{{userId}}">{{user_name}}</a>
  </div>
  <div>
    {{shortPost postText}}
    <a href="/api/blog/{{id}}">Read more...</a>
  </div>
</div>