<div id="bp-full">
  <div class="flex-row">
    <div id="bp-title"
         class="mui--text-headline">{{post.dataValues.postTitle}}
    </div>
    {{#equal username post.dataValues.user_name}}
    <button class="edit-btn"
            onclick="window.location.href='/blog/edit/{{../post.dataValues.id}}';">Edit</button>
    {{/equal}}
  </div>
  <div id="title-user"
       class="mui--text-dark-secondary">
    By {{post.dataValues.user_name}} on
    {{format_date post.dataValues.updatedAt}}
  </div>
  <div>
    {{post.dataValues.postText}}
  </div>
  <br>
  <div class="mui-divider"></div>

  <div>
    <h3 class="comments-title">Comments</h3>
    <div id="comments-section">
      {{#if comments.length}}
      <ul>
        <br>
        {{#each comments}}
        <li>
          <strong class="comment-user">{{this.dataValues.user_name}}:</strong>
          <div class="flex-row">
            <div class="comment-text" id="{{this.dataValues.id}}">
              {{this.dataValues.commentText}}
            </div>
          </div>
        </li>
        {{/each}}
        <li>
          {{#if loggedIn}}
          <form id="comment-form"
                class="mui-form--inline">
            <div class="mui-textfield mui-textfield--float-label">
              <input id="new-comment"
                     type="text">
              <label>New Comment</label>
            </div>
            <button id="submit-btn"
                    class="mui-btn">submit</button>
          </form>
          {{else}}
          <p><a href="/login" id="login-to-comment">Log in to comment.</a></p>
          {{/if}}
        </li>
      </ul>
      {{else}}
      <p>No comments yet.</p>
      <form id="comment-form"
            class="mui-form--inline">
        <div class="mui-textfield mui-textfield--float-label">
          <input id="new-comment"
                 type="text">
          <label>New Comment</label>
        </div>
        <button id="submit-btn"
                class="mui-btn">submit</button>
      </form>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/comments.js"></script>