<div id="bp-full">
  <div id="bp-title"
       class="mui--text-headline">{{post.dataValues.postTitle}}
    <button id="edit-btn"
            onclick="window.location.href='/api/blog/edit/{{post.dataValues.id}}';">Edit</button>
  </div>
  <div id="title-user"
       class="mui--text-dark-secondary">
    By <a href="api/blog/users/{{post.dataValues.userId}}">{{post.dataValues.user_name}}</a> at
    {{post.dataValues.updatedAt}}
  </div>
  <div>
    {{post.dataValues.postText}}
  </div>

  <div id="comments-section">
    <h3>Comments</h3>
    {{#if comments.length}}
    <ul>
      <div class="mui-divider"></div>
      {{#each comments}}
      <br>
      <li>
        <strong>{{this.dataValues.user_name}}</strong>: {{this.dataValues.commentText}}
      </li>
      <br>
      <div class="mui-divider"></div>
      {{/each}}
      <li>
        <div class="flex-row mui-textfield">
        <input type="text"
              id="new-comment"
              placeholder="New Comment">
        <button type="submit"
                class="mui-btn mui-btn--raised">Submit</button>
      </div>
      </li>
    </ul>
    {{else}}
    <p>No comments yet.</p>
    <div class="flex-row mui-textfield mui-textfield--float-label">
      <input type="text"
             id="new-comment"
             placeholder="New Comment">
      <button type="submit"
              class="mui-btn mui-btn--raised">Submit</button>
    </div>
    {{/if}}
  </div>
</div>